main{
    padding: 2%;
    display: grid;
    place-items: center;
    main-img{
        margin-top: 5rem;
    display: flex;
    gap: 1.25rem; 
    max-width: 100%;
    img{
        max-width: 100%;
    height: auto;
    }
    }
    }